<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DNS &bull; AI-powered DNS Resolver in Southeast Asia</title>
    <link rel="stylesheet" href="https://s1.0ms.dev/assets/style.css" />
    <link
      rel="stylesheet"
      href="https://s1.0ms.dev/assets/shuffle/public/css/tailwind/tailwind.min.css"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Support for Cloudflare compression -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- Add icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://s1.0ms.dev/assets/internal/0ms-group.jpg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
    />

    <script src="https://s1.0ms.dev/assets/shuffle/public/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {
        console.log("jQuery: Page loading complete!");
      });
    </script>
    <!-- Support for current Date & Time -->
    <script type="text/javascript">
      function display_c() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout("display_ct()", refresh);
      }

      function display_ct() {
        var x = new Date();
        document.getElementById("ct").innerHTML = x;
        display_c();
      }
    </script>
  </head>

  <body classes="galpt" onload="display_ct();">
    <body>
      <center>
        <div style="display: inline-block; text-align: center">
          <br />
          <br />
          <br />
          <br />
          <br />
          <b>
            <div class="notfoundheader">DNS</div>
          </b>
          <b>
            <div class="notfoundtext">AI-powered DNS Resolver</div>
          </b>
          <br />
          <div class="time"><span id="ct"></span></div>
          <br />
          <center>
            <div>
              📌
              <b
                >Check out our
                <span class="font-medium"
                  ><a class="linkcolor" href="https://0ms.dev/mirrors/"
                    >Mirrors</a
                  ></span
                >
                too!</b
              >
            </div>
          </center>
          <br />
          <details>
            <summary class="aleft">ABOUT</summary>
            <div style="display: inline-block; text-align: center">
              <br />
              <div class="aleft">
                <b>DNS</b> is a way to browse the Internet faster and more
                secure.
              </div>
              <br />
              <!-- Custom checkboxes -->
              <div class="checkcontainer">
                <div class="checkimg">
                  <img
                    class="checkimg"
                    src="https://s1.0ms.dev/assets/internal/check.png"
                  />
                </div>
                <div class="checktext">
                  <div class="checktext"><b>Globally Fast</b></div>
                  <div class="checktext">
                    DNS handles requests globally, milliseconds from end users.
                  </div>
                </div>
              </div>
              <br />
              <div class="checkcontainer">
                <div class="checkimg">
                  <img
                    class="checkimg"
                    src="https://s1.0ms.dev/assets/internal/check.png"
                  />
                </div>
                <div class="checktext">
                  <div class="checktext">
                    <b>Leveraging Artificial Intelligence</b>
                  </div>
                  <div class="checktext">
                    AI/ML manages network performance in realtime.
                  </div>
                </div>
              </div>
              <br />
              <div class="checkcontainer">
                <div class="checkimg">
                  <img
                    class="checkimg"
                    src="https://s1.0ms.dev/assets/internal/check.png"
                  />
                </div>
                <div class="checktext">
                  <div class="checktext"><b>Highly Optimized</b></div>
                  <div class="checktext">
                    Support for HTTP/3, QUIC, Caching, Compression, and more.
                  </div>
                </div>
              </div>
              <br />
              <div class="checkcontainer">
                <div class="checkimg">
                  <img
                    class="checkimg"
                    src="https://s1.0ms.dev/assets/internal/check.png"
                  />
                </div>
                <div class="checktext">
                  <div class="checktext"><b>Always Secure</b></div>
                  <div class="checktext">
                    End-to-End Encryption, PCI DSS, ISO/IEC 27001, and other
                    compliances.
                  </div>
                </div>
              </div>
            </div>
          </details>

          <br />
          <details>
            <summary class="aleft">HOW TO USE</summary>
            <div style="display: inline-block; text-align: center">
              <br />
              <div class="a">
                <b>Use it in your favorite browser or your DNS app</b>
              </div>
              <br />
              <div class="relative overflow-x-auto shadow-md sm:rounded">
                <table class="min-w-full text-left text-sm font-light">
                  <thead
                    class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600"
                  >
                    <tr>
                      <th scope="col" class="px-6 py-4">Variant</th>
                      <th scope="col" class="px-6 py-4">DoH/DoH3</th>
                      <th scope="col" class="px-6 py-4">DoT</th>
                      <th scope="col" class="px-6 py-4">Plain</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700"
                    >
                      <td class="whitespace-nowrap px-6 py-4">Unfiltered</td>
                      <td class="whitespace-nowrap px-6 py-4">
                        https://0ms.dev/dns-query
                      </td>
                      <td class="whitespace-nowrap px-6 py-4">-</td>
                      <td class="whitespace-nowrap px-6 py-4">-</td>
                    </tr>
                    <tr
                      class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700"
                    >
                      <td class="whitespace-nowrap px-6 py-4">
                        <a
                          class="linkcolor"
                          href="https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt"
                          >AdGuard DNS filter</a
                        >
                      </td>
                      <td class="whitespace-nowrap px-6 py-4">
                        https://0ms.dev/dns-adblock
                      </td>
                      <td class="whitespace-nowrap px-6 py-4">-</td>
                      <td class="whitespace-nowrap px-6 py-4">-</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />

              <div class="sidenote">
                Note that:
                <ol>
                  <li>&bull; DNS doesn't keep logs.</li>
                  <li>&bull; DNS can be used for small or big networks.</li>
                  <li>
                    &bull; DNS uses
                    <a
                      class="linkcolor"
                      href="https://www.cloudflare.com/learning/dns/what-is-anycast-dns/"
                      >Anycast</a
                    >
                    🌏 network.
                  </li>
                  <li>
                    &bull; DNS uses QNAME minimization to protect users'
                    privacy.
                  </li>
                </ol>
              </div>
            </div>
          </details>

          <footer>
            <div style="display: inline-block; text-align: center">
              <br />

              <script type="text/javascript">
                $(window).scroll(function () {
                  var height = $(window).scrollTop();
                  if (height > 100) {
                    $("#back2Top").fadeIn();
                  } else {
                    $("#back2Top").fadeOut();
                  }
                });
                $(document).ready(function () {
                  $("#back2Top").click(function (event) {
                    event.preventDefault();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                  });
                });
              </script>
              <a id="back2Top" title="Back to top" href="#">&#8679;</a>
            </div>
          </footer>
          <br />
        </div>
      </center>
    </body>
  </body>
</html>
