<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kopkar Binus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter"],
              nunito: ["Nunito"],
              poppins: ["Poppins"],
            },
            textUnderlineOffset: {
              10: "10px",
              12: "12px",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <!-- NAVBAR START -->
    <header
      class="flex gap-20 flex-wrap justify-center p-4 text-xl font-poppins font-medium text-center"
    >
      <a href="#" class="flex items-center w-20 ml-10 gap-5 font-poppins">
        <img src="./img/binuslogo.png" alt="" class="mb-3" />
        <h1>KOPKAR</h1>
      </a>

      <nav class="ml-auto mt-4">
        <ul class="font-poppins flex gap-16">
          <li class="hover:underline hover:underline-offset-12">
            <a href="#">Beranda</a>
          </li>
          <li class="hover:underline hover:underline-offset-12">
            <a href="#layanan">Layanan</a>
          </li>
          <li class="hover:underline hover:underline-offset-12">
            <a href="#jenis">Jenis Pinjaman</a>
          </li>
          <li class="hover:underline hover:underline-offset-12">
            <a href="#why ">Why Us?</a>
          </li>
        </ul>
      </nav>
      <div class="w-30 mt-1 mr-10">
        <ul class="flex gap-10">
          <li class="mt-1">
            <a href="">
              <img src="./img/notification.png" alt="" />
            </a>
          </li>
          <li class="hover:bg-slate-100/50 rounded-full">
            <a href="settings.html">
              <img src="./img/profile.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!-- NAVBAR END -->

    <!-- BODY 1 START -->
    <div class="w-1/2 font-poppins">
      <p class="text-[3.37rem] font-bold text-neutral-800/90 mt-24 ml-40">
        Pinjaman online dengan service yang baik
      </p>
      <p class="text-lg font-medium text-neutral-800/90 mt-5 ml-40">
        Pinjaman online yang simpel.
        <br />Jasa pinjaman yang profesional.
      </p>
      <div class="mt-9">
        <a
          href="#"
          class="font-poppins p-5 text-xl font-bold text-neutral-800/90 ml-44 border-2 border-black border-solid rounded-full hover:bg-cyan-300 transition duration-300 ease-in-out"
          >Get Started</a
        >
      </div>

      <div
        class="absolute bg-black w-[31.5%] right-36 top-36"
        style="background-image: url(./img/loan.jpg)"
      >
        <img src="./img/loan.jpg" alt="loan" />
      </div>
    </div>
    <!-- BODY 1 END -->

    <!-- BODY 2 START -->
    <div
      class="relative mt-60 font-poppins h-screen bg-gradient-to-t from-white from-0% via-[#00FFFF] via-10% to-white to-100%"
      id="layanan"
    >
      <div class="grid justify-end mt-8 gap-48">
        <h1
          class="font-poppins font-bold mt-[165px] text-6xl text-slate-800/90 mr-52 w-[29vw] h-[30vh]"
        >
          Layanan <br />terpercaya dan terbaik
        </h1>
        <p class="font-poppins -mt-52 text-xl w-[36vw] h-[11.5vh]">
          Nikmati layanan yang transparan dan terpercaya agar <br />
          Anggota tidak perlu khawatir . Pelayanan yang terbaik untuk memberikan
          kepuasan kepada Anggota dan calon Anggota.
        </p>
      </div>
      <img
        src="./img/service.jpeg"
        alt=""
        class="absolute bottom-48 left-48 w-1/3"
      />
    </div>
    <!-- BODY 2 END -->

    <!-- BODY 3 START -->
    <div class="h-screen font-poppins" id="jenis">
      <div
        class="flex justify-center font-poppins font-semibold text-center text-4xl"
      >
        <p class="mt-9">Jenis pinjaman apa yang anda cari?</p>
      </div>
      <div class="grid grid-cols-3 gap-14 m-40 mr-10">
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
        <div
          class="bg-[#b1fffa] pt-14 pr-10 flex justify-end rounded-2xl w-[70%] h-40 hover:scale-125 duration-[370ms] ease-in-out hover:bg-[#77afab]"
        >
          <span
            class="shrink-0 rounded-full border border-current bg-white p-2 h-14 w-14 text-indigo-600 group-active:text-indigo-500"
          >
            <svg
              class="size-6 m-[7px] rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>

    <!-- BODY 3 END -->

    <!-- BODY 4 START -->
    <div class="h-screen flex justify-center font-poppins" id="why">
      <h1 class="text-4xl mt-9">Kenapa harus memilih KOPKAR?</h1>
    </div>
    <!-- BODY 4 END -->

    <!-- FOOTER -->
    <footer class="bg-[#b1fffa]">
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:space-y-16 lg:px-8">
        <div class="gap-8 lg:grid-cols-3 flex justify-end">
          <div>
            <div class="text-teal-600">
              <img src="./img/binuslogo.png" alt="" class="w-24" />
            </div>

            <p class="mt-4 max-w-xs text-gray-500">(Profil Kopkar Binus)</p>
          </div>

          <div
            class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4"
          >
            <div>
              <p class="font-medium text-gray-900">Helpful Links</p>

              <ul class="mt-6 space-y-4 text-sm">
                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Contact
                  </a>
                </li>

                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    FAQs
                  </a>
                </li>

                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Live Chat
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <p class="font-medium text-gray-900">Legal</p>

              <ul class="mt-6 space-y-4 text-sm">
                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Accessibility
                  </a>
                </li>

                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Returns Policy
                  </a>
                </li>

                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Refund Policy
                  </a>
                </li>

                <li>
                  <a href="#" class="text-gray-700 transition hover:opacity-75">
                    Hiring Statistics
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <p class="text-xs text-gray-500">
          &copy; 2022. Company Name. All rights reserved.
        </p>
      </div>
    </footer>

    <!-- <a
      href="Login.html"
      class="border-2 border-black flex items-center justify-center"
      >BACK TO LOGIN PAGE</a
    > -->
    <script src="script/index.js"></script>
  </body>
</html>
