<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Kopkar Binus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter"],
              nunito: ["Nunito"],
            },
            textUnderlineOffset: {
              10: "10px",
              12: "12px",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <!-- Logo -->
    <header>
      <img
        src="./img/binuslogo.png"
        alt=""
        class="w-28 bg-gray-30 relative inset-20 ml-20 top-14"
      />
    </header>

    <div class="relative font-inter">
      <!-- Sign In -->
      <div class="absolute flex inset-y-48 left-60 flex-col gap-5">
        <p class="font-bold text-5xl">Sign in to</p>
        <p class="font-medium text-3xl w-72">
          Koperasi Karyawan Bina Nusantara
        </p>
        <div class="w-56">
          If you don't have an account. You can
          <a
            href="register.html"
            class="text-indigo-600 font-medium inline-block underline"
            >Register here!
          </a>
        </div>
      </div>

      <!-- IMAGE START-->
      <div class="w-1/4 mx-auto py-64">
        <img src="./img/person.png" alt="" />
      </div>
      <!-- IMAGE END -->

      <!-- LOGIN -->
      <div class="absolute flex flex-col right-56 top-28 gap-8">
        <p class="font-medium font-inter text-4xl">Sign in</p>
        <input
          type="text"
          placeholder="Username"
          class="placeholder:text-slate-400 placeholder:pl-2 bg-indigo-200 rounded-lg w-80 h-16 text-lg pl-2"
        />
        <input
          type="password"
          placeholder="Password"
          class="placeholder:text-slate-400 placeholder:pl-2 bg-indigo-200 rounded-lg w-80 h-16 text-lg pl-2"
        />

        <div class="flex flex-col gap-3">
          <a
            href="index.html"
            class="bg-indigo-500 hover:bg-indigo-600 shadow-md shadow-indigo-500/50 text-white text-center font-medium text-lg p-3 rounded-xl"
            >Login</a
          >
          <a
            href="guest.html"
            class="bg-indigo-500 hover:bg-indigo-600 shadow-md shadow-indigo-500/50 text-white text-center font-medium text-lg p-3 rounded-xl"
            >Login as a guest</a
          >
        </div>
        <div class="flex flex-col items-center">
          <p class="font-medium font-inter">or continue with</p>
          <a href="" class="hover:bg-slate-200/30 transition-all duration-150">
            <img src="./img/google_icon.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <!-- LOGIN END -->
    <script src="script/login.js"></script>
  </body>
</html>
