<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RTQ</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1>Pendaftaran Konsultasi</h1>

  <form method="post" action="/register">

    <p>
      <label for="nim">Masukkan NIM</label><br>
      <input type="text" name="nim" required>
    </p>
    <p>
      <label for="nama">Masukkan Nama</label><br>
      <input type="text" name="nama" required>
    </p>

    <p>
      <label for="jurusan">Pilih Jurusan:</label><br>
      <select id="jurusan" name="jurusan" required>
        <option value="Computer Science">Computer Science</option>
        <option value="System Information">System Information</option>
        <option value="International Relations">International Relations</option>
      </select>
    </p>

    <p>
      <label for="jeniskonsul">Pilih Jenis Konsultasi:</label><br>
      <input type="radio" name="jeniskonsul" value="Akademik" required>Akademik <br>
      <input type="radio" name="jeniskonsul" value="Non-akademik" required>Non-akademik
    </p>
    <button type="submit">Daftar Konsultasi</button>
  </form>
  <hr />

  <div id="antrian">
    <script type="text/markdown">{{.antrian_table}}</script>
  </div>
  <script src="js/stmd.js"></script>
  <script src="js/render.js"></script>
</body>

</html>